.slide-container{
	position: relative;
}
.carousel-inner{
	position: relative;
	overflow: hidden;
	width: 500px;
	> .item{
		/*position: absolute;*/
		display: none;
		width: 500px;
		height: 500px;
		transition: 0.6s ease-in-out transform;

		&.active, &.next, &.prev{
			display: block;
		}
		&.active{
			transform: translate(0);
		}

		&.next{
			position: absolute;
			/*top: 0;*/
			transform: translate(100%);
		}

		&.prev{
			position: absolute;
			/*top: 0;*/
			transform: translate(-100%);
		}
	}
	
}


.little-circle{
	.circle-active{
		color: red;
	}
}