.slide-container{
	position: relative;
}
.carousel-inner{
	position: relative;
	overflow: hidden;
	width: 500px;
	height: 500px;
	> .item{
		/*position: absolute;*/
		position: relative;
		display: none;
		width: 500px;
		height: 500px;
		// transition: 1s left;
	

		&.active, &.right, &.left{
			display: block;
		}
		&.active{
			/*transform: translate(0);*/
			left:0;
			display: block;
		}

		&.right{
			position: absolute;
			/*top: 0;*/
			/*transform: translate(100%);*/
			left: 100%;
		}

		&.left{
			position: absolute;
			/*top: 0;*/
			/*transform: translate(-100%);*/
			left: -100%;
			
			
		}
		&.right-to-center, &.center-to-left, &.center-to-right,
		&.left-to-center{
			
			position: absolute;
		}

		&.right-to-center{
			animation: 1s RightToCenter;
		}

		&.center-to-right{
			animation: 1s CenterToRight ;
		}

		&.left-to-center{
			animation: 1s LeftToCenter;
		}

		&.center-to-left{
			animation: 1s CenterToLeft;
		}


	}
	
}


.little-circle{
	.circle-active{
		color: red;
	}
}



@keyframes RightToCenter {
  0% { transform: translate(100%)}
  100% { transform: translate(0%)}

}

@keyframes CenterToLeft {
  0% { transform: translate(0) }
  100% { transform: translate(-100%) }
}

@keyframes LeftToCenter {
  0% {transform: translate(-100%); }
  100% { transform: translate(0%);}
}

@keyframes CenterToRight{
	0% {transform: translate(0%); }
  	100% { transform: translate(100%);}
}